<%= render partial: "shared/nav" %>


<% if @user.following.empty? %>
    <div class="container center-align w-content">
     <div class="row not-found">
          No follower yet
     </div>
    </div>
<% else %>
  <div class="container center-align w-content">
  <h4 class="flow-text">Following</h4>
 <table class="highlight responsive-table centered">
        <thead>
          <tr>
              
          <th>Username</th>
              
          </tr>
        </thead>

        <tbody>
          <% @user.following.each do |following| %>
          <tr>
               <td>
                <%= link_to following.username, relationship_user_path(@user.following, following) %>
               </td>
               
          </tr>
          <% end %>
        </tbody>
  </table>
  </div>
<% end %>
