<div class="container">
 <table class="highlight responsive-table centered">
        <thead>
          <tr>
              
              <th>Username</th>
              
          </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
          <tr>
               <td>
               <%= image_tag(user.avatar.variant(resize: "50x50!"),:class => "responsive-img circle", alt: "user image") if user.avatar.attached?%>
               <%= link_to user.username.capitalize, user_path(user) %>
               </td>
          </tr>
          <% end %>
        </tbody>
  </table>

      <%= render partial: "shared/footer" %>
