<%= render partial: 'shared/nav' %>

<div class="container w-content">
<div class="row">
 <table class="highlight responsive-table centered">
        <thead>
        
          <tr>
              
              <th>Profile</th>
              <th>Username</th>
              
          </tr>
        </thead>

        <tbody>
            <% @users.each do |user| %>
            
          <tr>
              <td>
                <%= image_tag user_avatar(user, 55), class:"circle responsive-img", :title => "Visit #{user.username.capitalize} profile",alt: "user image" %>
            </td>
               <td>
               <%= link_to user.username.capitalize, user_path(user) %>
               </td>
          </tr>
          <% end %>
        </tbody>
  </table>
  </div>
</div>
