
<div class="container">
    <div class="row">
    <div class="center-align transit">
        You are almost there, consider updating your profile before you start.<br>
        <%= link_to  "Edit", edit_user_registration_path(@current_user),class:"btn" %>
    </div>
</div>
