.start {
    position: sticky !important;
    top: 5% !important;
}

.sign-up {
    margin-top: 20vh;
    padding:0 75px 0 75px;
}

errors {
    font-size: .75rem !important;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.post {
    padding: 12px;
    border: 1px solid rgba(187,187,187,0.8);
    margin-top: 12px;
    border-radius: 9px;
}

.post-widgets {
    color: green;
    margin-top:35px;
    font-weight:small;
}

.transit {
    margin-top: 50vh;
}

.edit-signup {
    padding: 0 150px 0 150px;
}

textarea {
    border: 1px solid seagreen;
    border-radius: 3px;
    padding: 12px;
}

textarea:focus{
    border: 2px solid seagreen;
}