html,
body {
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    z-index: 0 !important;
    background-color: white !important;
    color: black !important;
}

p.notice {
    color: rgb(8, 151, 144);
    margin-top: 20vh;
    font-size:larger;
}

p.alert {
    color: rgb(224, 14, 14);
    margin-top: 20vh;
    font-size:larger;
}

select {
    display: block !important;
}

.post {
    padding: 120px;
}

.post-btn {
    background-color: transparent;
    color: teal !important;
    min-width: 100%;
}

.post-btn:hover {
    background-color: teal !important;
    color: white !important;
}

.post-btn:focus {
    background-color: teal !important;
    color: white !important;
}

.stick {
    position: sticky;
    top :5%;
}


.start {
    position: sticky !important;
    top: 5% !important;
    padding: 12px;
}

.sign-up {
    margin-top: 20vh;
    padding:0 75px 0 75px;
}

errors {
    font-size: .75rem !important;
}

.post-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.post {
    padding: 12px;
    border: 1px solid rgba(187,187,187,0.8);
    margin-top: 12px;
    border-radius: 9px;
}

.post-widgets {
    margin-top:35px;
    font-weight:small;
    padding: 12px;
}

.transit {
    margin-top: 50vh;
}



textarea {
    border: 1px solid seagreen;
    border-radius: 3px;
}

textarea:focus{
    border: 2px solid seagreen;
}

.luxbar-menu-light {
    background-color: teal !important;
    color: white !important;
}

li.luxbar-item:hover {
    background-color: white !important;
    color: teal !important;
}

.w-content {
    margin-top: 15vh;
}

.comments {
    padding: 12px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #afadad;
    margin: 12px;
}

.comment-paragraph {
    font-weight: 700;
}

.posted {
    padding: 35px;
}

.log-left {

}

.fixing {
    position: sticky;
    top:10%;
}

.user-on-comments {
    margin-bottom: 12px;
    border-bottom: #afadad solid 1px;
    padding-bottom: 12px;
}

img.start-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.back {
    margin-top :55px;
    color: black;
}

.w-container-user {
    margin-top : 30vh;
}

.row {
    justify-content: space-between !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    max-width: 7vh;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.gif {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.fileUpload-avatar {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.fileUpload-avatar input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100vh;
}

span.upload-avatar {
    cursor: pointer;
    width: fit-content;
}

::-webkit-input-placeholder { 
    color: black !important;
  }
  
  :-ms-input-placeholder { 
    color: black !important;
  }

  :-moz-input-placeholder { 
    color: black !important;
  }
  
  ::placeholder {
    color: black !important;
  }

  .field {
      margin-bottom: 12px;
  }

li.img-nav-profile {
    display: flex;
    flex-direction: column;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.follow {
    align-self: center;
}

.sidebar {
    position: sticky;
    position: -webkit-sticky;
    top: 15%;
}

.sidebar a {
    color: teal;
    padding: 12px;
    border-radius: 3px;
    border: 2px solid teal;
}

.sidebar a:hover {
    background-color: teal;
    color: white;
}

.sidebar a:focus {
    background-color: teal;
    color: white;
}

.user-post {
    color: teal;
    padding: 12px;
    border-radius: 3px;
    border: 2px solid teal;
}

.side-top {
    position:relative;
    margin-top :15vh;
}

.side-top a {
    color: teal;
    padding: 12px;
    border-radius: 3px;
    border: 2px solid teal;
}

.side-top a:hover {
    background-color: teal;
    color: white;
}

.side-top a:focus {
    background-color: teal;
    color: white;
}

.user-post:hover {
    background-color: teal;
    color: white;
}

.user-post:focus {
    background-color: teal;
    color: white;
}

.not-found {
    font-size: 6rem;
    color: gray;
}

footer {
    background-color: teal !important;
    position :relative !important;
    bottom: 100%;
    width: 100%;
}

p {
    color:black;
}

img.user-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

i.material-icons {
    color: teal !important;
}

.start-left {
    height: 100vh;
}

.start-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover
}