<%= render partial: "shared/nav" %>
    <div class="container bg-blue">
    <div class="row start-img">
        <div class="col s12 l12 m10">
        <%= image_tag "gif" %>
        </div>
    </div>
    </div>
<%= render partial: "shared/footer" %>